<div class="kanban flex flex-wrap my-24">
    <div class="w-1/3 p-3">  
      <div class="bg-gray-900 border border-gray-800 shadow rounded-lg p-2" >
          <div class="font-bold uppercase text-gray-400" data-column="To do">To do</div>
          <div class="card-list" id="to-do" data-column="To do" data-project_id="{{projectID}}">
            {{#each todoCards as |card|}}
            <div class="card bg-green-600 text-gray-300 my-3 p-2" data-id="{{card.id}}">
              <div class="flex flex-wrap justify-between"> 
                <p class="card-content">{{card.content}}</p>
                <button type="button" class=" rounded-md p-1 inline-flex items-center justify-center text-gray-300 hover:text-gray-500 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                  <span class="sr-only">Close menu</span>
                  <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
              <small id="creator-id" data-creator_id="{{card.creator_id}}" >added by {{card.employee.first_name}} {{card.employee.last_name}} </small>
            </div>
            {{/each}}
          </div>
          <button class="add-note text-gray-400 border border-dashed p-2 mb-2">+Add</button>
          <form class="w-full max-w-xl rounded-lg add-card hidden">
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-full px-3 mb-2 mt-2">
                  <textarea class=" rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none " name="body" placeholder='Add your note' required></textarea>
                </div>
                <div class="w-full md:w-full flex items-start md:w-full px-3">
                  <button type="submit " class="rounded-full bg-green-600 text-gray-300 focus:outline-none hover:text-gray-100 py-1 p-4 mr-1 ">Add</button>
                  <button type='button' class="rounded-full bg-green-600 text-gray-300 focus:outline-none hover:text-gray-100 py-1 p-4 mr-1 cancelBtn" id="cancel-create">Cancel</button>
                </div>
              </div>
          </form>
      </div>
    </div>
    <div class="w-1/3 p-3"> 
       <div class="bg-gray-900 border border-gray-800 shadow rounded-lg p-2" >
          <div class="font-bold uppercase text-gray-400" data-column="In progress">In Progress</div>
          <div class="card-list" id="in-progress" data-column="In progress"data-project_id="{{projectID}}">
            {{#each inProgressCards as |card|}}
            <div class="card bg-green-600 text-gray-300 my-3 p-2" data-id="{{card.id}}">
              <div class="flex flex-wrap justify-between"> 
                <p class="card-content">{{card.content}}</p>
                <button type="button" class=" rounded-md p-1 inline-flex items-center justify-center text-gray-300 hover:text-gray-500 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                  <span class="sr-only">Close menu</span>
                  <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
              <small id="creator-id" data-creator_id="{{card.creator_id}}" >added by {{card.employee.first_name}} {{card.employee.last_name}} </small>
            </div>
            {{/each}}
          </div>
          <button class="add-note text-gray-400 border border-dashed p-2 mb-2">+Add</button>
          <form class="w-full max-w-xl rounded-lg add-card hidden">
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-full px-3 mb-2 mt-2">
                  <textarea class=" rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none " name="body" placeholder='Add your note' required></textarea>
                </div>
                <div class="w-full md:w-full flex items-start md:w-full px-3">
                  <button type="submit " class="rounded-full bg-green-600 text-gray-300 focus:outline-none hover:text-gray-100 py-1 p-4 mr-1 ">Add</button>
                  <button type='button' class="rounded-full bg-green-600 text-gray-300 focus:outline-none hover:text-gray-100 py-1 p-4 mr-1 cancelBtn" id="cancel-create">Cancel</button>
                </div>
              </div>
          </form>
      </div>
    </div>
    <div class="w-1/3 p-3">
      <div class="bg-gray-900 border border-gray-800 shadow rounded-lg p-2" >
            <div class="font-bold uppercase text-gray-400" data-column="Done" >Done</div>
            <div class="card-list" id="done" data-column="Done" data-project_id="{{projectID}}">
              {{#each doneCards as |card|}}
              <div class="card bg-green-600 text-gray-300 my-3 p-2" data-id="{{card.id}}">
                <div class="flex flex-wrap justify-between"> 
                  <p class="card-content">{{card.content}}</p>
                  <button type="button" class=" rounded-md p-1 inline-flex items-center justify-center text-gray-300 hover:text-gray-500 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                    <span class="sr-only">Close menu</span>
                    <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                  </button>
                </div>
                <small id="creator-id" data-creator_id="{{card.creator_id}}" >added by {{card.employee.first_name}} {{card.employee.last_name}} </small>
              </div>
              {{/each}}
            </div>
            <button class="add-note text-gray-400 border border-dashed p-2 mb-2">+Add</button>
            <form class="w-full max-w-xl rounded-lg add-card hidden">
              <div class="flex flex-wrap -mx-3 mb-6">
                  <div class="w-full md:w-full px-3 mb-2 mt-2">
                    <textarea class=" rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none " name="body" placeholder='Add your note' required></textarea>
                  </div>
                  <div class="w-full md:w-full flex items-start md:w-full px-3">
                    <button type="submit " class="rounded-full bg-green-600 text-gray-300 focus:outline-none hover:text-gray-100 py-1 p-4 mr-1 ">Add</button>
                    <button type='button' class="rounded-full bg-green-600 text-gray-300 focus:outline-none hover:text-gray-100 py-1 p-4 mr-1 cancelBtn" id="cancel-create">Cancel</button>
                  </div>
                </div>
            </form>
        </div>
    </div>

    
</div> 
<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>     
<script src="/js/kanban.js"></script>